@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid #47c9af;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu ul {
  background: #ffffff;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #47c9af;
}


html {
height:100%;
}

body {
line-height:1.4;
font-size:110%;
font-family:  Raleway, sans-serif;
color:#444444;
}

p {
margin:1em 0;
line-height: 30px;
}

div.divhr hr {
display:none;
}

#wrapper {
margin:0 auto;
width:960px;
text-align:left;
}



span.term {
text-decoration:none;
font-weight:700;
}




h1,h2,h3 {
color:#444444;
font-weight:bolder;
}

.block,blockquote {
display:block;
margin:.5em 20px;
padding:.5em;
border-left:3px solid #000;
}



div#startfoot {
clear:both;
height:1px;
overflow:hidden;
margin:1em;
background-color:red;
}

address {
clear:both;
display:block;
border-top:2px solid #000;
color:#000;
font-style:normal;
text-align:right;
padding-bottom:10px;
margin-top:2em;
}

.floatright {
float:right;
}

.clearboth {
clear:both;
}



.stanza {
margin:.5em 0;
}

.stanza .line {
display:block;
margin-left:15px;
text-indent:-15px;
}

ul {
list-style-type:square;
margin:1em 0 1em 20px;
padding:0;
}

ol {
margin:1em 0 1em 20px;
padding:0;
}

ul > li,ol > li {
margin:.5em 0;
padding:0;
}



div#place {
float:left;
width:100%;
border-bottom:2px solid #000;
}

div#endheader {
clear:both;
height:0;
line-height:1px;
overflow:hidden;
}






#hor-zebra {
font-size:13px;
width:680px;
text-align:left;
border-collapse:collapse;
margin:20px;}

#hor-zebra th {
font-size:14px;
font-weight:normal;
color:#039;
padding:10px 8px;
}

#hor-zebra td {
color:#669;
padding:8px;
}

#hor-zebra .odd {
    background:#e8edff;
}

div.card {
      float: right;
    width:300px;
    height:367px;
    margin-left:30px;
    margin-right: 20px;
    margin-bottom: 50px;
}


h4 {
  float:right;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

img {
    border-radius: 5px 5px 0 0;
    margin-bottom:-20px;
}

.container {
  
  padding-right: 16px;

}

ul.marker {
  list-style:none;
  margin-left:0.3ch;
  padding-left:0;
}

ul.marker li{
  padding-left:1em;
  text-indent:-2ch;
}

ul.marker li:before {
  content:"\25C9  ";
  color:#47c9af;
  font-size: small;
  padding-right:5px;
}  